.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  padding: 20px; 
}
.header-body {
  line-height: 50px;
}

/* .taskmaster-logo {
  border: black solid 1px;
  
}
.header-project-title {
  border: black solid 1px;
} */
.header-team-members {
  text-align: center;
}


.sideNav {
  height: 100%;
  width: 120px;
  background-color: lightgrey;
  padding: 30px;
  position: fixed;
  justify-content: center;
  z-index: 1;
  text-align: center;
  /* display: flex;
  flex-direction: column
  align-items: center;
  align-content: flex-end; */
}
.icon-project-dashboard {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
}
.icon-mytasks {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
}
.icon-settings {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
}



.main {
  margin-left: 120px;
  padding: 30px;
  height: 100%;
  width: auto;
}

